<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octafx</title>
    <style>
        body {
            font-family: Roboto;
            font-size: 14px;
            line-height: 26px;
            background-color: #F6F6F6;
            color: #818181;
            /* grey */
            font-weight: 400;

            margin: 5%;
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p a {
            color: #303030;
        }

        .h1,
        h1 {
            font-size: 30px;
            line-height: 1.25em;
        }

        .h2,
        h2 {
            font-size: 24px;
        }

        .h3,
        h3 {
            font-size: 17px;
        }

        h1,
        .h1,
        .title h1,
        h2,
        .h2,
        h3,
        .h3 {
            font-family: 'Roboto', sans-serif;
        }

        a:hover,
        p a:hover {
            color: #1abc9c;
            text-decoration: none;
        }

        .drop_down .wide .second .inner>ul>li>a,
        .h2,
        .h3,
        .h5,
        .h6,
        h2,
        h3,
        h5,
        h6,
        nav.main_menu>ul>li>a {
            text-transform: uppercase;
        }

        .h2,
        .h3,
        h2,
        h3 {
            font-weight: 600;
            letter-spacing: 1px;
        }

        p {
            margin-bottom: 0;
        }





        /* code for arrow, page-up*/
        #return-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            /* I can add here some background-color */
            border: 1px solid white;

            width: 50px;
            height: 50px;
            display: block;
            text-decoration: none;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
            display: none;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        #return-to-top i {
            /* inside arrow */
            color: #fff;
            margin: 0;
            position: relative;
            left: 16px;
            top: 13px;
            font-size: 19px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        #return-to-top:hover {
            background: white
                /*rgba(0, 0, 0, 0.9)*/
            ;
        }

        #return-to-top:hover i {
            /* inside arrow */
            color: rgb(95, 95, 95);
            /* grey */
            top: 5px;
        }

        /* end of code for arrow, page-up*/
    </style>
</head>

<body>
    <html>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <!-- code for arrow, page-up -->
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- new -->



    <body>

        <div>
            <h1>OctaFxOptions Terms and Conditions ("Terms")
                Last updated: March 29, 2018<br></h1>

            <p>&nbsp;</p>
            <p><span style="font-weight: 400;">
                    Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the
                    https://OctaFxOptions .com website (the "Service") operated by OctaFxOptions ("us", "we", or "our").

                    Your access to and use of the Service is conditioned on your acceptance of and compliance with these
                    Terms. These Terms apply to all visitors, users and others who access or use the Service.

                </span></p>
            <p><span style="font-weight: 400;"> By accessing or using the Service you agree to be bound by these Terms.
                    If
                    you disagree with any part of the terms then you may not access the Service.
                </span></p>
            <br>




            <h2><span style="font-weight: 400;">Accounts</span></h2>

            <p><span style="font-weight: 400;">When you create an account with us, you must provide us information that
                    is
                    accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms,
                    which
                    may result in immediate termination of your account on our Service.
                </span></p>

            <p><span style="font-weight: 400;">You are responsible for safeguarding the password that you use to access
                    the
                    Service and for any activities or actions under your password, whether your password is with our
                    Service
                    or a third-party service. </span></p>
            <p><span style="font-weight: 400;">You agree not to disclose your password to any third party. You must
                    notify
                    us immediately upon becoming aware of any breach of security or unauthorized use of your
                    account.</span>
            </p>

            <p><span style="font-weight: 400;">You are limited to creating one account for yourself. Multiple accounts
                    are
                    not allowed. We reserve the right to immediately disable any accounts that are suspect of being
                    created
                    by the same person, though we will work with you to ensure you keep any Coins that you’ve
                    legitimately
                    earned.</span>
            </p>
            <br>




            <h2><span style="font-weight: 400;">No Automation, No Bypassing </span></h2>
            <p><span style="font-weight: 400;">OctaFxOptions's entire model relies on you, the individual user, directly
                    accessing and interacting with our Service.</span></p>


            <p><span style="font-weight: 400;">Any attemps to circumvent this by automating any aspect including, but
                    not
                    limited to, tasks, games, or faucet spins will be considered a violation of these Terms and will
                    result
                    in immediate Termination and forfeiture of your account.

                    Similarly, any attempts to circumvent any restrictions of the offerwalls to which we link or the
                    games
                    we provide will be considered a violation of these Terms and will result in immediate Termination
                    and
                    forfeiture of your account.</span></p>

            <br>


            <h2><span style="font-weight: 400;">No VPN / Proxy / Tor </span></h2>
            <p><span style="font-weight: 400;">
                    OctaFxOptions’s Service requires that you access our website directly from your computer,
                    specifically
                    without use of a VPN, Tor, or any other service that would obscure your actual location from us and
                    our
                    partners. Violation of these Terms will result in immediate Termination and forfeiture of your
                    account.</span></p>


            <h2><span style="font-weight: 400;">Providing personal data to third parties</span></h2>
            <p><span style="font-weight: 400;">We keep your personal data in accordance with confidentiality
                    requirements by
                    law and without infringement of your privacy. </span></p>
            <p><span style="font-weight: 400;">We encrypt your personal data during transmission, storage, and backup to
                    increase the level of safety of your personal data.</span></p>
            <p><span style="font-weight: 400;">Specific employees of Oview</span> <span style="font-weight: 400;">have a
                    key
                    to the codified personal data for the purposes of improvement of the application system including,
                    but
                    not limited to security policy, for ensuring proper operation of the platform, and for other
                    legitimate
                    purposes related to Oview activities.</span></p>
            <p><span style="font-weight: 400;">Third parties can view the statistical reports without any personal
                    identification of the users.</span></p>
            <br>





            <h2><span style="font-weight: 400;">Reverse Engineering & Other Malicious Activity </span></h2>

            <p><span style="font-weight: 400;">Any attempt to reverse engineer, cause harm or ortherwise interrupt or
                    misuse
                    the OctaFxOptions website and/or services will result in account termination. Suspicious activity
                    may be
                    reported to the authorities at our discretion.</span></p>

            <br>


            <h2><span style="font-weight: 400;">Advertising </span></h2>

            <p><span style="font-weight: 400;">By using OctaFxOptions you agree to receive advertising from numerous
                    third
                    party advertisers. Attempts to block or otherwise bypass the advertising will be considered a breach
                    of
                    these terms.</span></p>

            <br>


            <h2><span style="font-weight: 400;">Links To Other Web Sites </span></h2>

            <p><span style="font-weight: 400;">
                    Our Service may contain links to third-party web sites or services that are not owned or controlled
                    by
                    OctaFxOptions .

                    OctaFxOptions has no control over, and assumes no responsibility for, the content, privacy policies,
                    or
                    practices of any third party web sites or services. You further acknowledge and agree that
                    OctaFxOptions
                    shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged
                    to
                    be caused by or in connection with use of or reliance on any such content, goods or services
                    available
                    on or through any such web sites or services.

                    As an example, OctaFxOptions is not liable for Offer Wall completions that do not credit you.

                    We strongly advise you to read the terms and conditions and privacy policies of any third-party web
                    sites or services that you visit.</span></p>

            <br>

            <h2><span style="font-weight: 400;">Termination </span></h2>

            <p><span style="font-weight: 400;">We may terminate or suspend access to our Service immediately, without
                    prior
                    notice or liability, for any reason whatsoever, including without limitation if you breach the
                    Terms.

                    All provisions of the Terms which by their nature shall survive termination, including, without
                    limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

                    We may terminate or suspend your account immediately, without prior notice or liability, for any
                    reason
                    whatsoever, including without limitation if you breach the Terms.

                    Upon termination, your right to use the Service will immediately cease and you will lose access to
                    all
                    Coins retained and earned. If you wish to terminate your account, you may simply discontinue using
                    the
                    Service.

                    All provisions of the Terms which by their nature should survive termination shall survive
                    termination,
                    including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations
                    of
                    liability.</span></p>

            <br>

            <h2><span style="font-weight: 400;">Governing Law
                </span></h2>

            <p><span style="font-weight: 400;">Our failure to enforce any right or provision of these Terms will not be
                    considered a waiver of those rights. If any provision of these Terms is held to be invalid or
                    unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms
                    constitute the entire agreement between us regarding our Service, and supersede and replace any
                    prior
                    agreements we might have between us regarding the Service.</span></p>

            <br>

            <h2><span style="font-weight: 400;">Changes
                </span></h2>

            <p><span style="font-weight: 400;">
                    We reserve the right, at our sole discretion, to modify or replace these Terms at any time.

                    By continuing to access or use our Service after those revisions become effective, you agree to be
                    bound
                    by the revised terms. If you do not agree to the new terms, please stop using the Service.

                </span></p>

            <br>

            <h2><span style="font-weight: 400;">Contact Us
                </span></h2>

            <p><span style="font-weight: 400;">If you have any questions about these Terms, please contact us.</span>
            </p>

            <br>

        </div>





    </body>

    </html>
    <script>

        /* js code for the arrow */
        // ===== Scroll to Top ==== 
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function () {      // When arrow is clicked
            $('body,html').animate({
                scrollTop: 0                       // Scroll to top of body
            }, 500);
        });
    </script>
</body>

</html>