<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OctaFx</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Cryptocurrency Landing Page Template" />
    <meta name="keywords" content="cryptocurrency, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <!-- <link href="../assets/img/favicon.ico" rel="shortcut icon" /> -->


    <!-- Google Fonts --> 
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../assets/css/animate.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <!--[if lt IE 9]>
      <script src="../assets/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="../assets/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .social a:last-child {
    margin-right: 0;
    color: black;
    font-size: 2.38rem;
}

   .fa-whatsapp:before {
    content: "\f232";
    font-size: 2.577rem !important;
    /* background: green; */
}
.social .instagram {
    background: #bb8950;
    margin: 8% 0 5%;
}
    </style>
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
      <div class="container-fluid">
        <a href="../assets/index.html" class="site-logo">
          <img
            src="../assets/img/octalogo.png"
            alt=""
            style="max-width: 10%; width: 100%"
          />
        </a>
        <div class="responsive-bar"><i class="fa fa-bars"></i></div>
        <a href="../users/login" class="site-btn">Login</a>
        <nav class="main-menu">
          <ul class="menu-list">
      
            <li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
      			<li><a href="/dashboard">Dashboard</a></li>

			<li><a href="../users/register">Sign Up Free</a></li>

          </ul>
        </nav>
      </div>
    </header>
    <!-- Header section end -->

    <!-- Hero section -->
    <section class="hero-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 hero-text">
            <h2>OVER $700,000 <span> PAID</span> <br />EARN BITCOIN TODAY</h2>
            <h4>
              Join the highest paying Bitcoin Investments & Forex Trading
              rewards site. Earn thousands of Dollars every day.
            </h4>
            <form class="hero-subscribe-from">
              <input type="text" placeholder="Enter your email" />
              <button class="site-btn sb-gradients">Start Earning Now!</button>
            </form>
          </div>
          <div class="col-md-6">
            <img src="../assets/img/laptop.png" class="laptop-image" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- Hero section end -->

    <!-- About section -->
    <section class="about-section spad">
      <div class="container">
        <div class="about-img">
          <img src="../assets/img/about-img.png" alt="" />
        </div>
      </div>
    </section>
    <!-- About section end -->

    <!-- Features section -->
    <section class="features-section spad gradient-bg">
      <div class="container text-white">
        <div class="section-title text-center">
          <h2>HOW DOES IT WORK?</h2>
        </div>
        <div class="row">
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-mobile"></i>
            <div class="feature-content">
              <h4>SIGN UP</h4>
              <p>Create a new account and login to get started.</p>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-shield"></i>
            <div class="feature-content">
              <h4>FOLLOW US</h4>
              <p>Follow us on all social-networks</p>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-wallet"></i>
            <div class="feature-content">
              <h4>INVESTMENT PLANS</h4>
              <p>Choose any Investment Plan of your choice</p>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-headphone-alt"></i>
            <div class="feature-content">
              <h4>JOIN OUR CHANNEL</h4>
              <p>Join our Ever Expanding Telegram Channel</p>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-reload"></i>
            <div class="feature-content">
              <h4>WORK WITH US</h4>
              <p>Perform Tasks and Earn BTC Daily</p>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-panel"></i>
            <div class="feature-content">
              <h4>WATCH VIDEOS</h4>
              <p>Watch videos Of testimonies.</p>
            </div>
          </div>
        </div>
      </div> 
    </section>
    <!-- Features section end -->

    <!-- Process section -->
    <section id='about' class="process-section spad">
      <div class="container">
        <div class="section-title text-center">
          <h2>Earn More With US</h2>
          <p>
            We have paid our members over $700,000. You will earn more money
            with OctaFxoptions than every other Bitcoin Mining or Forex Trading
            site combined.
          </p>
        </div>

        <div class="section-title text-center">
          <h4>What is Forex and Crypto Trading?</h4>
          <p>
            It's a System that teaches, Forex, and trades out cryptocurrency
            whenever you invest , and make large percentage of Profits. You make
            over 5x your investments, In 24 hours, and there is no Registration
            Fee, Just Invest and Earn. Refer your friends and get 25% of what
            they earn from their Investment for life.
          </p>
        </div>
        <!-- <div class="row">
          <div class="col-md-4 process">
            <div class="process-step">
              <figure class="process-icon">
                <img src="../assets/img/process-icons/1.png" alt="#" />
              </figure>
              <h4>Create Your Wallet</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-md-4 process">
            <div class="process-step">
              <figure class="process-icon">
                <img src="../assets/img/process-icons/2.png" alt="#" />
              </figure>
              <h4>Create Your Wallet</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-md-4 process">
            <div class="process-step">
              <figure class="process-icon">
                <img src="../assets/img/process-icons/3.png" alt="#" />
              </figure>
              <h4>Create Your Wallet</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <!-- Process section end -->

    <!-- Fact section -->
    <section class="fact-section gradient-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
              <h2>26,541,63</h2>
              <p>
                TRANSACTIONS
                <br />
                COMPLETED
              </p>
              <i class="ti-basketball"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
              <h2>12K</h2>
              <p>
                SUCCESSFUL
                <br />
                WITHDRAWALS
              </p>
              <i class="ti-panel"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
              <h2>269,579</h2>
              <p>
                TOTAL
                <br />
                USERS
              </p>
              <i class="ti-stats-up"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
              <h2>201.03212</h2>
              <p>
                BITCOIN
                <br />
                and ETHEREUM SENT
              </p>
              <i class="ti-user"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Fact section end -->


    <!-- Newsletter section -->
    <section class="newsletter-section gradient-bg" id='contact'>
      <div class="container text-white">
        <div class="row">
          <div class="col-lg-7 newsletter-text">
            <h2>Start Earning Now!</h2>
           
          </div>
          <div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
            <form class="newsletter-form">
              <input type="text" placeholder="Enter your email" />
              <button>Get Started</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Newsletter section end -->

  

    <!-- Footer section -->
    <footer class="footer-section">
      <div class="container">
        <div class="row spad">
        
          <div class="col-md-6 col-lg-3 footer-widget">
            <img src="../assets/img/octalogo.png" class="mb-4" alt="" />
           
            
          </div>
          
          <div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
            <h5 class="widget-title">Follow Us</h5>
            <div class="social">
              <a href="https://m.facebook.com/octafxoptions?_rdr" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="Octa_fxoptionsplus" class="instagram"><i class="fa fa-instagram"></i></a> <br/>
              <a href="Https://web/+13154292501" style='color:green ' class=""><i class="fa fa-whatsapp"></i></a>
              <a href="Https://t.me/OCTAFX_IQ_OPTIONPLUS" style='color:black,    font-size: 2.777rem;' class=""><i style='color:black,    font-size: 2.777rem;' class="fa fa-telegram"></i></a> 


            </div>

            
          </div>
          <div class="col-md-6 col-lg-3 footer-widget" style='    margin-top: 6%;
'>
Join the highest paying Bitcoin Investments & Forex Trading rewards site. Earn thousands of Dollars every day.
           
            
          </div>


        </div>
        <div class="footer-bottom">
          <div class="row">
            <div
              class="col-lg-4 store-links text-center text-lg-left pb-3 pb-lg-0"
            >
              <a href="../assets/"><img src="../assets/img/appstore.png" alt="" class="mr-2" /></a>
              <a href="../assets/"><img src="../assets/img/playstore.png" alt="" /></a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
              <ul class="footer-nav">
                
                <li><a href="#">Octafxoptionplus@gmail.com</a></li>
                <li><a href="#">+13154292501</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--====== Javascripts & Jquery ======-->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
