<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/css/main.css">
<!--===============================================================================================-->
</head>
<style>
.select-box {
	 position: relative;
	 display: block;
	 width: 100%;
	 margin: 0 auto;
	 font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
	 font-size: 18px;
	 color: #60666d;
}
 @media (min-width: 768px) {
	 .select-box {
		 width: 70%;
	}
}
 @media (min-width: 992px) {
	 .select-box {
		 width: 50%;
	}
}
 @media (min-width: 1200px) {
	 .select-box {
		 width: 30%;
	}
}
 .select-box__current {
	 position: relative;
	 box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	 cursor: pointer;
	 outline: none;
}
 .select-box__current:focus + .select-box__list {
	 opacity: 1;
	 animation-name: none;
}
 .select-box__current:focus + .select-box__list .select-box__option {
	 cursor: pointer;
}
 .select-box__current:focus .select-box__icon {
	 transform: translateY(-50%) rotate(180deg);
}
 .select-box__icon {
	 position: absolute;
	 top: 50%;
	 right: 15px;
	 transform: translateY(-50%);
	 width: 20px;
	 opacity: 0.3;
	 transition: 0.2s ease;
}
 .select-box__value {
	 display: flex;
}
 .select-box__input {
	 display: none;
}
 .select-box__input:checked + .select-box__input-text {
	 display: block;
}
 .select-box__input-text {
	 display: none;
	 width: 100%;
	 margin: 0;
	 padding: 15px;
	 background-color: #fff;
}
 .select-box__list {
	 position: absolute;
	 width: 100%;
	 padding: 0;
	 list-style: none;
	 opacity: 0;
	 animation-name: HideList;
	 animation-duration: 0.5s;
	 animation-delay: 0.5s;
	 animation-fill-mode: forwards;
	 animation-timing-function: step-start;
	 box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
 .select-box__option {
	 display: block;
	 padding: 15px;
	 background-color: #fff;
}
 .select-box__option:hover, .select-box__option:focus {
	 color: #546c84;
	 background-color: #fbfbfb;
}
 @keyframes HideList {
	 from {
		 transform: scaleY(1);
	}
	 to {
		 transform: scaleY(0);
	}
}
.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20% 20% 5%;
    height: 70vh;
}
.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin: 0 auto;
    margin-top: 10%;
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
    overflow: auto;
}
 
</style>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(https://image.freepik.com/free-photo/light-bulb-soil-with-young-plant-growing-money-stack-saving-finance-energy-concept_34152-1357.jpg);">
					<span class="login100-form-title-1">
						Donate Today
					</span>
				</div>
                <% include ./partials/messages %>

                <h5 style='margin:5%; text-align:center'>
                Note: least commitment is 5000
                </h5>

				<form action="/users/donate" method="POST" class="login100-form validate-form" >
					

						<div class="select-box">
                            <div class="select-box__current" tabindex="1">
                            <div class="select-box__value"><input class="select-box__input" type="radio" id="00" value="2500" name="amount" checked="checked" />
                                    <p class="select-box__input-text">2500</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="0" value="5000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">5000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="1" value="10000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">10000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="2" value="15000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">15000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="3" value="20000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">20000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="4" value="25000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">25000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="5" value="30000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">30000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="6" value="35000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">35000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="7" value="40000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">40000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="8" value="45000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">45000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="9" value="50000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">50000</p>
                                </div>
                                  <div class="select-box__value"><input class="select-box__input" type="radio" id="10" value="55000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">55000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="11" value="60000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">60000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="12" value="65000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">65000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="13" value="70000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">70000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="14" value="75000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">75000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="15" value="80000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">80000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="16" value="85000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">85000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="17" value="90000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">90000</p>
                                </div>
                                <div class="select-box__value"><input class="select-box__input" type="radio" id="18" value="95000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">95000</p>
                                </div>

                                <div class="select-box__value"><input class="select-box__input" type="radio" id="19" value="100000" name="amount" checked="checked" />
                                    <p class="select-box__input-text">100000</p>
                                </div>


                                
                                <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true" /></div>
                            <ul class="select-box__list">
                                <li><label class="select-box__option" for="00" aria-hidden="aria-hidden">2500</label></li>

                                <li><label class="select-box__option" for="0" aria-hidden="aria-hidden">5000</label></li>
                                <li><label class="select-box__option" for="1" aria-hidden="aria-hidden">10000</label></li>
                                <li><label class="select-box__option" for="2" aria-hidden="aria-hidden">15000</label></li>
                                <li><label class="select-box__option" for="3" aria-hidden="aria-hidden">20000</label></li>
                                <li><label class="select-box__option" for="4" aria-hidden="aria-hidden">25000</label></li>
                                <li><label class="select-box__option" for="5" aria-hidden="aria-hidden">30000</label></li>
                                <li><label class="select-box__option" for="6" aria-hidden="aria-hidden">35000</label></li>
                                <li><label class="select-box__option" for="7" aria-hidden="aria-hidden">40000</label></li>
                                <li><label class="select-box__option" for="8" aria-hidden="aria-hidden">45000</label></li>
                                <li><label class="select-box__option" for="9" aria-hidden="aria-hidden">50000</label></li>
                                <li><label class="select-box__option" for="10" aria-hidden="aria-hidden">55000</label></li>
                                <li><label class="select-box__option" for="11" aria-hidden="aria-hidden">60000</label></li>
                                <li><label class="select-box__option" for="12" aria-hidden="aria-hidden">65000</label></li>
                                <li><label class="select-box__option" for="13" aria-hidden="aria-hidden">70000</label></li>
                                <li><label class="select-box__option" for="14" aria-hidden="aria-hidden">75000</label></li>
                                <li><label class="select-box__option" for="15" aria-hidden="aria-hidden">80000</label></li>
                                <li><label class="select-box__option" for="16" aria-hidden="aria-hidden">85000</label></li>
                                <li><label class="select-box__option" for="17" aria-hidden="aria-hidden">90000</label></li>
                                <li><label class="select-box__option" for="18" aria-hidden="aria-hidden">95000</label></li>
                                <li><label class="select-box__option" for="19" aria-hidden="aria-hidden">100000</label></li>

                                
                               
                            </ul>
                        </div>

					
					<div class="container-login100-form-btn">
						<button type='submit' class="login100-form-btn">
							Donate
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/bootstrap/js/popper.js"></script>
	<script src="../../assets/Login_v15/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../assets/Login_v15/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/js/main.js"></script>

</body>
</html>