<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../assets/Login_v15/css/main.css">
<!--===============================================================================================-->
</head>
<style>
.select-box {
	 position: relative;
	 display: block;
	 width: 100%;
	 margin: 0 auto;
	 font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
	 font-size: 18px;
	 color: #60666d;
}
 @media (min-width: 768px) {
	 .select-box {
		 width: 70%;
	}
}
 @media (min-width: 992px) {
	 .select-box {
		 width: 50%;
	}
}
 @media (min-width: 1200px) {
	 .select-box {
		 width: 30%;
	}
}
 .select-box__current {
	 position: relative;
	 box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	 cursor: pointer;
	 outline: none;
}
 .select-box__current:focus + .select-box__list {
	 opacity: 1;
	 animation-name: none;
}
 .select-box__current:focus + .select-box__list .select-box__option {
	 cursor: pointer;
}
 .select-box__current:focus .select-box__icon {
	 transform: translateY(-50%) rotate(180deg);
}
 .select-box__icon {
	 position: absolute;
	 top: 50%;
	 right: 15px;
	 transform: translateY(-50%);
	 width: 20px;
	 opacity: 0.3;
	 transition: 0.2s ease;
}
 .select-box__value {
	 display: flex;
}
 .select-box__input {
	 display: none;
}
 .select-box__input:checked + .select-box__input-text {
	 display: block;
}
 .select-box__input-text {
	 display: none;
	 width: 100%;
	 margin: 0;
	 padding: 15px;
	 background-color: #fff;
}
 .select-box__list {
	 position: absolute;
	 width: 100%;
	 padding: 0;
	 list-style: none;
	 opacity: 0;
	 animation-name: HideList;
	 animation-duration: 0.5s;
	 animation-delay: 0.5s;
	 animation-fill-mode: forwards;
	 animation-timing-function: step-start;
	 box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
 .select-box__option {
	 display: block;
	 padding: 15px;
	 background-color: #fff;
}
 .select-box__option:hover, .select-box__option:focus {
	 color: #546c84;
	 background-color: #fbfbfb;
}
 @keyframes HideList {
	 from {
		 transform: scaleY(1);
	}
	 to {
		 transform: scaleY(0);
	}
}
.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20% 20% 5%;
    height: 70vh;
}
.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin: 0 auto;
    margin-top: 10%;
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
    overflow: auto;
}


      .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin: 5%;
}
 
</style>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(https://image.freepik.com/free-photo/light-bulb-soil-with-young-plant-growing-money-stack-saving-finance-energy-concept_34152-1357.jpg);">
					<span class="login100-form-title-1">
						Register Today
					</span>
				</div>
                <% include ./partials/messages %>

				<div style='      text-align: center;
  margin: 10%;
'>

                <div>Acount Name : Stephanie Okechukwu</div>
                <div>Acount Number : 1101162804</div>
                <div>Bank Name : Kuda Bank </div>

				 <form action="/users/proofR" method="POST" >



                                    <div class="upload-btn-wrapper" style='margin-top:5%; width: 100%;     display: flex;
    flex-direction: column;'>
                                     <td> upload your prove of payment</td>

                                     <button class="btn">Upload a file</button>
                                     <input type="hidden" value="" name="img"  id='HF'/>


                                    <input type="file" accept="image/png, image/jpeg, image/jpg"  value="" name="myfile"  id='F' class='change'/>
                                    <label for="create_product_image" class="product_image_label" style="outline:none; color:#6a1b8b; background:none; text-align:center; padding: 15px 0px 8px">Click to choose a file
                                    </div>

                                    <button type='submit' style='    background: #393771;
                                    color: white;
                                    padding: 2%;
                                    margin: 5% 5% 0%;
                                    width: 90%;
                                    border-radius: 5px;
                                        cursor:pointer
                                '>
                                        Send Proof
                                    </button>
                                </form>
                
                    <div class="container-login100-form-btn">
                                            <button  class="login100-form-btn">
                                            <a style='color:white' href='/dashboard'>Dashboard</a>	
                                            </button>
                                        </div>


                
                </div>

                 
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/bootstrap/js/popper.js"></script>
	<script src="../../assets/Login_v15/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../assets/Login_v15/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/Login_v15/js/main.js"></script>
	<script>

         $(".change").change(function () {
         $(".product_image_label").html("Image uploaded successfully")
          productImageUpload()
        });

        function productImageUpload() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("F").files[0]);

        oFReader.onload = function (oFREvent) {
          document.getElementById("HF").value = oFREvent.target.result;

          // $('#imageP').attr('src', oFREvent.target.result)
          // i = $('#imageP').attr('src')

        };
      }

    </script>

</body>
</html>